
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    margin-top: 10px;
    float: right;
}

ul img {
    width: 5%;
    margin: 10px 2%;
}

li .btn {
    margin-top: 6px;
    margin-right: 20px;
    margin-left: 15px;
    background-color: white;
    color: black;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* 
** fin navbar
*/

#top {
    background-color: lightgray;
}

#top p {
    margin-bottom: 40px;
}
#top .header {
   margin-top: 12%;
}

#top .header img {
    height: 40px;
}

#top .header .logodw {
    margin-right:15px;

}

#iphonetop img {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    padding: 1em;
    
    

}



.features{
    background-color: lightgray;
}

.features img{
    width: 80%;
    height: 100%;
    margin:20px;
}

.features .col1{
    margin-top: 15%;
}

.features .col2{ 
    margin-top: 5%;
    
}
.page-footer{
    background-color: black;
  }
.page-footer svg{
    fill: white;
    height: 35px;
  }

h2{
      font-size: 40px;
  }

.imgiso{
      width: 80%;
      height: 80%;
      padding-top: 40px;
    }

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid black; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
  }
  
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: black;
  }
  
 #winnerz .container2 {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    margin-top: 35px;
  }





#sect2{
  background-color: white;
  text-align: left;
  padding-top: 30px;
  }

#sect2 .container{
  
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-around;
  }
  
  .tex{
    padding-left: 50px;
      padding-bottom: 30px;
  }

  #sect2 img{
      width: 100%;
      height: 100%;
  }

.imag{
  padding-right: 20px;
  padding-bottom: 20px;
}

#sect2 .btn{
  margin-top: 15px;

}
#sect2bis{
  background-color: white;
  text-align: right;
  padding-top: 30px;
  }

#sect2bis .container{
  
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-around;
  }

#sect2bis .btn{
  margin-top: 15px;

}
#sect2bis img{
  width: 70%;
  height: 70%;
}

