
#headerz ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#headerz li {
    margin-top: 10px;
    float: right;
}

#headerz ul img {
    width: 5%;
    margin: 10px 2%;
}

#headerz li .btn {
    margin-top: 6px;
    margin-right: 20px;
    margin-left: 15px;
    background-color: white;
    color: black;
}
#headerz li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* 
** fin navbar
*/

#top {
    background-color: lightgray;
}

#top p {
    margin-bottom: 40px;
}
#top .header {
   margin-top: 12%;
}

#top .header img {
    height: 40px;
}

#top .header .logodw {
    margin-right:15px;

}

#iphonetop img {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    padding: 1em;
    
    

}



.features{
    background-color: lightgray;
}

.features img{
    width: 80%;
    height: 100%;
    margin:20px;
}

.features .col1{
    margin-top: 15%;
}

.features .col2{ 
    margin-top: 5%;
    
}
.page-footer{
    background-color: black;
    margin: 0;
  }
.page-footer svg{
    fill: white;
    height: 35px;
  }

h2{
      font-size: 40px;
  }

.imgiso{
      width: 80%;
      height: 80%;
      padding-top: 40px;
    }

   .row {
    margin-bottom: 0;
  }


#sect2{
  background-color: white;
  text-align: left;
  padding-top: 30px;
  }

#sect2 .container{
  
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-around;
  }
  
  .tex{
    padding-left: 50px;
      padding-bottom: 30px;
  }

  img{
      width: 100%;
      height: 100%;
  }

.imag{
  padding-right: 20px;
  padding-bottom: 20px;
}

#sect2 .btn{
  margin-top: 15px;

}
/**section 5
**/

.section5{
  background-color: lightgray;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.section5 img{
  width: 70%;
  padding-left: 10px;
}
